.search-form {
    margin: 70px 70px 10px;
   padding: 0 0 69px;
   border-bottom: solid 1px #E8E8E8;
}
.search-form__container {
    padding: 29px 30px 25px 28px;
        box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FDFDFD;
box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
border-radius: 9px;
height: 72px;

}
.search-form__icon {
    width: 17px;
    height: 16px;
    margin: 0 16px 0 0;

}
.search-form__query {
    border: none;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #A0A0A0;
}

.search-form__find-button {
    height: 34px;
    width: 59px;

background: #000000;
border-radius: 48px;
font-style: normal;
font-weight: 500;
font-size: 11px;
text-align: center;

color: #FFFFFF;
border: none;
padding: 8px 10px;
margin: 0 0 0 21px ;
}

.search-form__film-search {
    border: none;
    border-right: solid 1px #CBCBCB;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    padding: 0 17px 0 0;
    box-sizing: border-box;
    margin: 0 29px 0 0;
    flex-grow: 1;
}

@media (max-width: 890px) {
    .search-form {
        margin: 80px 30px 10px;
       padding: 0 0 109px;}

       .search-form__container {
        padding: 30px 20px 27px 29px;

       }
       .search-form__icon {
        width: 15px;
        height: 15px;
       }
       .search-form__film-search {
        padding: 0 19px 0 0;
        margin: 0 18px 0 0;

       }

       .search-form__find-button {
        margin: 3px 0 3px 21px;

       }
    }
@media (max-width: 640px) {

    .search-form {
        margin: 80px 10px 10px;
       padding: 0 0 44px;}

        .search-form__container {
            flex-direction: column;
        }

        .search-form__container {
            /* padding: 0 20px 0 29px; */
    padding: 0;
    width: 100%;
    background-color: white;
           }

           .search-form__film-search {
            background: #FDFDFD;
            box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
            border-radius: 9px;
            border: none;
            margin: 0 0 46px;
            padding: 19px;
            box-sizing: border-box;
            grid-template-columns:1fr auto;
            height: 72px;
            width: 100%;

           }
           .search-form__container {
            box-shadow: none;
            height: auto;
           }
           .search-form__icon {
            display: none;
           }
           .search-form__query {
            font-size: 14px;
           }
       }

