.header {
    min-height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.header_theme_color {
    background-color: #F3C1F8;

}

.header_theme_light {
    background-color: white;
}

.header__logo {
    max-height: 38px;
    margin-left: 70px;
}

@media (max-width: 890px) {
    .header__logo {
        margin-left: 30px;
    }
}

@media (max-width: 540px) {
    .header__logo {
        margin-left: 14px;
    }
}